#main {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/* HELPERS */

.small {
	font-size: smaller;
}

.fix-items-alignment {
	padding: 0px 12px 12px 0px !important;
}

/* SPACING */

.no-margin-bottom {
	margin-bottom: 0px;
}

.no-padding-bottom {
	padding-bottom: 0px !important;
}

.margin-bottom-medium {
	margin-bottom: 64px;
}

.padding-left-tiny {
	padding-left: 5px;
}